<section class="addrewiews">
    <div class="container">
  <h2 class="addrewiews__maintittle">
  let’s <span class="greeen">work</span><br><span class="greeen">together</span>
</h2>
 <h3 class="addrewiews__tittle">
  Contact me to transform your ideas into<br>exceptional solutions.
</h3>
    <div class="addrewiews__content">
        <ul class="addrewiews__list">
            <li class="addrewiews__item">+38 090 456 78 90</li>
            <li class="addrewiews__item">lloydjefferson@gmail.com</li>
            <li class="addrewiews__item">USA, New York</li>
        </ul>

        <form class="addrewiews__form" action="">
            <input class="addrewiews__inputone" type="email" required  placeholder="Your email*">
            <input class="addrewiews__inputtwo" type="text" required  placeholder="Message ">
            <button class="addrewiews__button">SEND MESSAGE</button>
        </form>
    </div>
    </div>
</section>
<div class="modal" id="cooperationModal">
  <div class="modal__overlay"></div>
  <div class="modal__content">
    <h3 class="modal__title">THANK YOU FOR YOUR INTEREST IN COOPERATION!</h3>
    <p class="modal__text">
      The manager will contact you shortly to discuss further details and opportunities for cooperation.<br>
      Please stay in touch.
    </p>
    <button class="modal__close">Close</button>
  </div>
</div>
<script src="./js/addweviews.js"></script>
