<section class="addrewiews">
    <div class="container">
        <h2 class="addrewiews__maintittle">let’s work
together</h2>
<h3 class="addrewiews__tittle">Contact me to transform your ideas into exceptional solutions.</h3>
<ul class="addrewiews__list">
    <li class="addrewiews__item">+38 090 456 78 90</li>
    <li class="addrewiews__item">lloydjefferson@gmail.com</li>
    <li class="addrewiews__item">USA, New York</li>
    <form class="addrewiews__form" action="">
   <input type="text" class="addrewiews"  placeholder="Your email*">
   <input type="text" class="addrewiews" placeholder="Message">
   <button class="addrewiews__button">SEND MESSAGE</button>
    </form>
</ul>
</div>

</section>