<section class="benefits">
    <h2 class="benefits__maintittle"></h2>
    <ul class="benefits__list">
        <li class="benefits__item">
<h5 class="benefits__minitittle">Communication</h5>
<p class="benefits__text">Understanding your needs and wants is my priority and I am always available for discussions and open to corrections.</p>
        </li>
        <li class="benefits__item">
<h5 class="benefits__minitittle">Art</h5>
<p class="benefits__text">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
        </li>
        <li class="benefits__item">
<h5 class="benefits__minitittle">Urgent execution</h5>
<p class="benefits__text">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
        </li>
        <li class="benefits__item">
<h5 class="benefits__minitittle">Expertise</h5>
<p class="benefits__text">With extensive experience in development, I have a deep understanding of programming and website development.</p>
        </li>
    </ul>
</section>