<section class="faq">
    <div class="container faq-conatiner">
        <div>
        <p class="faq__headline">frequently asked <span class="green">question</span></p>
        <img class="faq__decor" src="./img/faq-decor.png" alt="decor">
        </div>


        <ul class="faq__quetions-list">
            <li class="faq__quetions-item">
                <div class="flex-box">
                    <p class="faq__quetion">What programming languages ​​are most often used in your project?</p>
                    <button class="faq__text-info">
                        <!-- <svg class="faq__arrow">
                            <use href="#icon-arrow-down"></use>
                        </svg> -->
                        <svg class="faq__arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none">
                            <path d="M18 9L12 15L6 9" stroke="#292929" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>

                <div class="faq__answer">
                    <p class="faq__describtion-text">
                        In the field of web development, there are various technologies and programming languages.
                        Typically, this includes a combination of frontend (client side) and backend (server side)
                        languages.
                    </p>
                </div>
            </li>
            <li class="faq__quetions-item">
                <div class="flex-box">
                    <p class="faq__quetion">What are the deadlines for the project?</p>
                    <button class="faq__text-info">
                        <svg class="faq__arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none">
                            <path d="M18 9L12 15L6 9" stroke="#292929" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>

                <div class="faq__answer">
                    <p class="faq__describtion-text">
                        The terms of project implementation depend to a large extent on a number of factors, such as the
                        scope of the project, its complexity, and the availability of resources. Determining exact
                        deadlines is a difficult task, and it usually occurs during the planning phase of the project.
                    </p>
                </div>
            </li>
            <li class="faq__quetions-item">
                <div class="flex-box">
                    <p class="faq__quetion">What payment methods do you accept?</p>
                    <button class="faq__text-info">
                        <svg class="faq__arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none">
                            <path d="M18 9L12 15L6 9" stroke="#292929" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>

                <div class="faq__answer">
                    <p class="faq__describtion-text">
                        Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment
                        systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and
                        others.
                    </p>
                </div>
            </li>
            <li class="faq__quetions-item">
                <div class="flex-box">
                    <p class="faq__quetion">How can I contact you?</p>
                    <button class="faq__text-info">
                        <svg class="faq__arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none">
                            <path d="M18 9L12 15L6 9" stroke="#292929" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>

                <div class="faq__answer">
                    <p class="faq__describtion-text">
                        In the field of web development, there are various technologies and programming languages.
                        Typically, this includes a combination of frontend (client side) and backend (server side)
                        languages.
                    </p>
                </div>
            </li>
            <li class="faq__quetions-item">
                <div class="flex-box">
                    <p class="faq__quetion">Do you provide advice or support?</p>
                    <button class="faq__text-info">
                        <svg class="faq__arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none">
                            <path d="M18 9L12 15L6 9" stroke="#292929" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>

                <div class="faq__answer">
                    <p class="faq__describtion-text">
                        The terms of project implementation depend to a large extent on a number of factors, such as the
                        scope of the project, its complexity, and the availability of resources. Determining exact
                        deadlines is a difficult task, and it usually occurs during the planning phase of the project.
                    </p>
                </div>
            </li>
            <li class="faq__quetions-item">
                <div class="flex-box">
                    <p class="faq__quetion">What does the process of developing a software product look like from idea
                        to implementation?</p>
                    <button class="faq__text-info">
                        <svg class="faq__arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none">
                            <path d="M18 9L12 15L6 9" stroke="#292929" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>

                <div class="faq__answer">
                    <p class="faq__describtion-text">
                        Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment
                        systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and
                        others.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>