<section class="hero">
    <div class="container">
        <div style="display: flex;">
            <div style="position: relative;">
<span class="hero__headline">
        hello, i am 
        <img src="./img/face.png" alt="face" class="face">
        
    </span>
    
    <p class="hero__headline-part2 green">Fullstack developer</p>
    </div>

            <img class="hero__up-decor" src="./img/hero-decor.png" alt="hero decor">
        </div>

    <div class="hero__flex-box-center">
                <button class="hero__order-button" type="button"><svg class="arrow__right" xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16" fill="none">
  <path d="M1 7C0.447715 7 -4.82823e-08 7.44772 0 8C4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM29.7071 8.7071C30.0976 8.31658 30.0976 7.68341 29.7071 7.29289L23.3431 0.92893C22.9526 0.538406 22.3195 0.538406 21.9289 0.92893C21.5384 1.31945 21.5384 1.95262 21.9289 2.34314L27.5858 8L21.9289 13.6569C21.5384 14.0474 21.5384 14.6805 21.9289 15.0711C22.3195 15.4616 22.9526 15.4616 23.3431 15.0711L29.7071 8.7071ZM1 9L29 9L29 7L1 7L1 9Z" fill="#00B068"/>
</svg>order the project<div class="hero__rectangle"></div></button>
                <img class="hero__down-decor" src="./img/hero-decor.png" alt="hero decor">

    <p class="hero__text">
        I work with people all over the world to create <span class="green">impressive</span> and <span class="green">functional websites</span> that reflect each client’s unique personality. 
    </p>
    </div>

    </div>
        <ul class="hero__links-list">
        <li class="hero__links-item"><a href="https://www.instagram.com/goitclub/" class="hero__link">Instagram</a></li>
        <li class="hero__links-item"><a href="https://www.facebook.com/goITclub/" class="hero__link">Facebook</a></li>
        <li class="hero__links-item"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" class="hero__link">LinkedIn</a></li>
        <li class="hero__links-item"><a href="https://github.com/Tate-T/portfolio-project" class="hero__link">GitHub</a></li>
    </ul>
</section>