<section class="hero">
    <div class="container">
        <div style="display: flex;">
            <div style="position: relative;">
<span class="hero__headline">
        hello, i am 
        <img src="./img/face.png" alt="face" class="face">
        
    </span>
    
    <p class="hero__headline-part2 green">Fullstack developer</p>
    </div>

            <img class="hero__up-decor" src="./img/hero-decor.png" alt="hero decor">
        </div>

    <div class="hero__flex-box-center">
        <button class="hero__order-button" type="button"><svg class="arrow__right"><use href="#icon-arrow-right"></use></svg>order the project<div class="hero__rectangle"></div></button>
        <img class="hero__down-decor" src="./img/hero-decor.png" alt="hero decor">
    <p class="hero__text">
        I work with people all over the world to create <span class="green">impressive</span> and <span class="green">functional websites</span> that reflect each client’s unique personality. 
    </p>
    </div>

    </div>
        <ul class="hero__links-list">
        <li class="hero__links-item"><a href="https://www.instagram.com/goitclub/" class="hero__link">Instagram</a></li>
        <li class="hero__links-item"><a href="https://www.facebook.com/goITclub/" class="hero__link">Facebook</a></li>
        <li class="hero__links-item"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" class="hero__link">LinkedIn</a></li>
        <li class="hero__links-item"><a href="https://github.com/Tate-T/portfolio-project" class="hero__link">GitHub</a></li>
    </ul>
</section>