<section class="rewiews">
    <div class="container">
        <h2 class="rewiews__tittle">
            reviews</h2>
    <ul class="rewiews__list">
      <!-- Відгуки будуть вставлятись динамічно -->
    </ul>
        <button class="rewiews__button"> <img class="rewiews-icon" src="./img/arrow-narrow-right.svg" alt=""></button>
   <button class="rewiews__button rewiews__button--prev"> <img class="rewiews-icon" src="./img/arrow.svg" alt=""></button>
</button>

    </div>
<script type="module" src="./js/rewiews.js"></script>
<script type="module" src="./js/addweviews.js"></script>

</section>