<section class="rewiews">
    <div class="container">
        <h2 class="rewiews__tittle">reviews</h2>
        <ul class="rewiews__list">
            <!-- Відгуки будуть вставлятись динамічно -->
        </ul>
        <button class="rewiews__button">
            <img class="rewiews-icon" src="./img/arrow-narrow-right.svg" alt="arrow">
        </button>

        <button class="rewiews__button rewiews__button--prev">
            <img class="rewiews-icon" src="./img/arrow.svg" alt="arrow">
        </button>

        <!-- </button> -->

    </div>


</section>