<section class="rewiews">
    <div class="container">
        <h2 class="rewiews__tittle">\
        reviews</h2>
    <ul class="rewiews__list">
<li class="rewiews__item">
<p class="rewiews__text">
    Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations
</p>
<p class="rewiews__name">Natalia Shevchenko</p>
</li>
<li class="rewiews__item">
<p class="rewiews__text">I have the honor to recommend him as an exceptional professional in his field. His knowledge and expertise are undeniable. Cooperation with him always brings impressive results.</p>
<p class="rewiews__name">Dmytro Nazarenko</p>
</li>
    </ul>
</div>

</section>