.footer {
    padding-bottom: 24px;
    padding-top: 40px;
}

.footer__headline {
    margin-right: auto;
    color: var(--Black, #292929);
font-family: Impact;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 100% */
letter-spacing: 1.5px;
text-transform: uppercase;
}

.footer__links-list {
    display: flex;



    @media screen and (min-width: 360px) {
        flex-direction: column;
            gap: 24px;
    }


    @media screen and (min-width: 768px) {
        flex-direction: row;
            align-items: center;
                gap: 40px;
    }

    @media screen and (min-width: 1280px) {
        
    }
}

.footer__link {
    color: var(--Black, #292929);

/* Desktop-Tablet/body 1 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
transition: color 0.5s ease;
}

.footer__link:hover {
color: var(--Accet-green, #00B068);
}

.footer__text {

    color: var(--Black, #292929);

/* Desktop-Tablet/body 1 */
font-family: "Poppins";
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
text-align: right;
width: 197px;

@media screen and (min-width: 360px) {
            margin-top: 40px;
            text-align: center;
    }


    @media screen and (min-width: 768px) {
margin-top: 40px;
width: auto;
text-align: right;
    }

    @media screen and (min-width: 1280px) {
            margin-top: 32px;
    }
}

.footer__flex-box {

    @media screen and (min-width: 360px) {
        
    }


    @media screen and (min-width: 768px) {

    }

    @media screen and (min-width: 1280px) {
            display: flex;
    align-items: center;
    }
}