.hero {
    padding-top: 184px;
}

.face {
    width: 108px;
    margin-left: 40px;
}

.hero

.hero__headline {
    color: var(--Black, #292929);

/* Desktop-Tablet/H1 */
font-family: Impact;
font-size: 136px;
font-style: normal;
font-weight: 400;
line-height: 156px; /* 114.706% */
letter-spacing: 1.8px;
text-transform: uppercase;
}

.hero__link {
    color: var(--Black, #292929);

/* Desktop-Tablet/body 1 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
transition: color 0.5s ease;
}

.hero__link:hover {
color: var(--Accet-green, #00B068);
}

.hero__flex-box-center {
    display: flex;
    justify-content: space-between;
    margin-bottom: 132px;
}

.hero__rectangle {
    width: 261px;
height: 96px;
flex-shrink: 0;
border-radius: 16px;
background: var(--Light-accent, #BCDFD1);
position: absolute;
right: -160px;
z-index: -5;

}

.hero__text {
color: var(--Black, #292929);
width: 592px;
/* Desktop-Tablet/caption */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
letter-spacing: 0.5px;
text-transform: uppercase;
}

.arrow__right {
    width: 28px;
stroke-width: 2px;
stroke: var(--Accet-green, #00B068);
fill: var(--Accet-green, #00B068);
margin-right: 12px;
}

.hero__links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: lightgrey;
    
    padding-top: 40px;
    padding-bottom: 40px;
    background: var(--Light-grey, #E4E5E6);
}

.hero__headline-part2 {
    margin-bottom: 80px;
    

/* Desktop-Tablet/H1 */
font-family: Impact;
font-size: 136px;
font-style: normal;
font-weight: 400;
line-height: 156px; /* 114.706% */
letter-spacing: 1.8px;
text-transform: uppercase;
}

.hero__order {
    display: flex;
    position: relative;
    align-items: center;
}

.hero__order-button {
    color: var(--Black, #292929);
display: flex;
align-items: center;
/* Desktop-Tablet/caption */
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
letter-spacing: 0.5px;
text-transform: uppercase;
background-color: transparent;
border: none;
z-index: 2;
cursor: pointer;
position: relative;
}