
.hero {
    padding-top: 184px;

@media screen and (min-width: 360px) {
        
    }


    @media screen and (min-width: 768px) {

    }

    @media screen and (min-width: 1280px) {
        
    }
}

.face {
    display: none;

    @media screen and (min-width: 360px) {
        
    }


    @media screen and (min-width: 768px) {
        
    }

    @media screen and (min-width: 1280px) {
        display: inline;
        width: 108px;
        margin-left: 40px;
    }
}

.hero__headline {
    color: var(--Black, #292929);

/* Desktop-Tablet/H1 */
font-family: Impact;
font-size: 136px;
font-style: normal;
font-weight: 400;
line-height: 156px; /* 114.706% */
letter-spacing: 1.8px;
text-transform: uppercase;

@media screen and (min-width: 360px) {
        width: 320px;
    }


    @media screen and (min-width: 768px) {
        width: 704px;
    }

    @media screen and (min-width: 1280px) {
        width: auto;
    }
}

.hero__link {
    color: var(--Black, #292929);

/* Desktop-Tablet/body 1 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
transition: color 0.5s ease;
}

.hero__link:hover {
color: var(--Accet-green, #00B068);
}

.hero__flex-box-center {


    @media screen and (min-width: 360px) {
        margin-bottom: 72px;
    }


    @media screen and (min-width: 768px) {
margin-bottom: 80px;
    }

    @media screen and (min-width: 1280px) {
            display: flex;
    justify-content: space-between;
    margin-bottom: 132px;
    }
}

.hero__rectangle {

flex-shrink: 0;
border-radius: 16px;
background: var(--Light-accent, #BCDFD1);
position: absolute;
z-index: -5;
right: -80px;

@media screen and (min-width: 360px) {
        width: 165px;
height: 92px;
flex-shrink: 0;

    }


    @media screen and (min-width: 768px) {
    width: 261px;
height: 96px;
right: -160px;
    }

    @media screen and (min-width: 1280px) {
        
    }

}

.hero__text {
color: var(--Black, #292929);
width: 592px;
/* Desktop-Tablet/caption */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
letter-spacing: 0.5px;
text-transform: uppercase;
}

.arrow__right {
    width: 28px;
stroke-width: 2px;
stroke: var(--Accet-green, #00B068);
fill: var(--Accet-green, #00B068);
margin-right: 12px;
}

.hero__links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: lightgrey;
    
    padding-top: 40px;
    padding-bottom: 40px;
    background: var(--Light-grey, #E4E5E6);
}

.hero__headline-part2 {

    

/* Desktop-Tablet/H1 */
font-family: Impact;
font-size: 136px;
font-style: normal;
font-weight: 400;
line-height: 156px; /* 114.706% */
letter-spacing: 1.8px;
text-transform: uppercase;

@media screen and (min-width: 360px) {
        width: 320px;
                    margin-bottom: 72px;
    }


    @media screen and (min-width: 768px) {
width: 704px;
margin-bottom: 92px;
    }

    @media screen and (min-width: 1280px) {
            margin-bottom: 80px;
    }
}

.hero__order {
    display: flex;
    position: relative;
    align-items: center;
}

.hero__order-button {
    color: var(--Black, #292929);
display: flex;
align-items: center;
/* Desktop-Tablet/caption */
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
letter-spacing: 0.5px;
text-transform: uppercase;
background-color: transparent;
border: none;
z-index: 2;
cursor: pointer;
position: relative;

@media screen and (min-width: 360px) {
        margin-bottom: 40px;
    }


    @media screen and (min-width: 768px) {
margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 0px;
    }
}