.project__programming-language {
color: var(--Black, #292929);
margin-top: 16px;


/* Desktop-Tablet/body 1 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;

@media screen and (min-width: 360px) {
        margin-bottom: 16px;
    }


    @media screen and (min-width: 768px) {
margin-bottom: 20px;
    }

    @media screen and (min-width: 1280px) {
        
    }
}

.projects__headline {
    color: var(--Black, #292929);
    margin-bottom: 80px;
    text-align: center;

/* Desktop-Tablet/H2 */
font-family: Impact;
font-size: 108px;
font-style: normal;
font-weight: 400;
line-height: 124px; /* 114.815% */
letter-spacing: 1.8px;
text-transform: uppercase;

@media screen and (min-width: 360px) {
        font-size: 52px;
    }


    @media screen and (min-width: 768px) {
font-size: 108px;
    }

    @media screen and (min-width: 1280px) {
        
    }
}

.project__name {
color: var(--Black, #292929);
margin-right: auto;

/* Desktop-Tablet/H3 */
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 133.333% */
letter-spacing: 0.5px;
text-transform: uppercase;

@media screen and (min-width: 360px) {
        width: 320px;
    }


    @media screen and (min-width: 768px) {
        width: auto;
    }

    @media screen and (min-width: 1280px) {
        width: auto;
    }

}

.project__visit-button {
display: flex;
padding: 12px 24px;
align-items: center;
gap: 12px;
border-radius: 8px;
background: var(--Light-grey, #E4E5E6);
color: var(--Black, #292929);
border: none;
/* Desktop-Tablet/body 2 bold */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
text-transform: uppercase;
cursor: pointer;
height: min-content;

@media screen and (min-width: 360px) {
        margin-left: auto;
    }


    @media screen and (min-width: 768px) {
        margin-left: 0px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 0px;
    }
}

.project__visit-link {
    
}

.project__arrow {
  width: 14.5px;
  height: 14.5px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: var(--Accet-green, #00B068);
  fill: var(--Accet-green, #00B068);
}


.projects__project-item {
    
}

.projects__project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-data {
display: block;
    @media screen and (min-width: 360px) {
            margin-bottom: 40px;
    }


    @media screen and (min-width: 768px) {
    margin-bottom: 60px;
        display: flex;
    align-items: center;
    }

    @media screen and (min-width: 1280px) {
            margin-bottom: 80px;
    }
}

.load-more-projects {
    display: block;
    margin-left: auto;
    margin-right: auto;
padding: 12px 24px;
color: var(--Black, #292929);
background-color: transparent;
text-transform: uppercase;
border: none;
cursor: pointer;
border-bottom: 1px solid var(--Light-grey, #E4E5E6);

/* Desktop-Tablet/body 2 bold */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
transition: color 0.5s ease;

}

.load-more-projects:hover {
    color: var(--Accet-green, #00B068);
}

.visit__link {
    color: var(--Black, #292929);
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
}

.under-line {
height: 2px;
width: max-content;
stroke: var(--Accet-green, #00B068);
}

.none {
    display: none;
}

.project__photo {
    @media screen and (min-width: 360px) {
        width: 320px;
    }


    @media screen and (min-width: 768px) {
    width: 704px;
    }

    @media screen and (min-width: 1280px) {
        width: 1008px;
    }

}