.rewiews {
  background-color: #fff;
  padding: 100px 32px;
  font-family: 'Segoe UI', sans-serif;
  color: #000;
}

/* Заголовок REVIEWS */
.rewiews__tittle {
font-family: Impact;
font-weight: 400;
font-style: Regular;
font-size: 108px;
leading-trim: NONE;
line-height: 124px;
letter-spacing: 1.8px;
vertical-align: middle;
text-transform: uppercase;
justify-content: center;
 text-align: center;
}


.rewiews__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.rewiews__item {
  background-color: #E4E5E6;
  padding: 32px;
border-radius: 16px;
  box-shadow: 0 0 12px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

/* Текст відгуку */
.rewiews__text {
font-family: Poppins;
font-weight: 300;
font-style: Light;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0.5px;

}

/* Ім’я автора */
.rewiews__name {
font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0.5px;

}

.rewiews__button {
    width: 48;
height: 48;
opacity: 1;
gap: 10px;
border-radius: 8px;
padding: 12px;
border-width: 1px;

}

.rewiews__img{
    width: 40;
height: 40;
opacity: 1;
border-radius: 24px;

}

.rewiews__box{
    display: flex;
    gap: 24px;
   align-items: center;
}

.rewiews-icon{
    width: 24;
height: 24;
opacity: 1;

}

.rewiews__button{
width: 48;
height: 48;
opacity: 1;
gap: 10px;
border-radius: 8px;
border-width: 1px;
padding: 12px;
position: absolute;
right: 145px;
margin-top: 20px;

 
}