@import url("./css/header.css");
@import url("./css/hero.css");
@import url("./css/about-me.css");
@import url("./css/skills.css");
@import url("./css/projects.css");
@import url("./css/benefits.css");
@import url("./css/faq.css");
@import url("./css/reviews.css");
@import url("./css/comment.css");
@import url("./css/footer.css");
@import url("./css/modal.css");
body {
  font-family: Arial, sans-serif;
}

.green {
color: var(--Accet-green, #00B068);

/* Desktop-Tablet/H2 */
font-family: Impact;
font-size: 108px;
font-style: normal;
font-weight: 400;
line-height: 124px;
letter-spacing: 1.8px;
text-transform: uppercase;
}
 
.flex-box {
  display: flex;
}